

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
}

.title{
    padding-top: 20px;
    color: #151d51;
}


.formulario{
    padding: 40px;
    border-radius: 20px;
}

form{
    background: rgba(249, 249, 249, 0.92);
}

input{
    border-radius: 14px;
    background: #fff; 
}

label{
    color:#151d51;
}

.img{
    padding-bottom: 20px;
}


/* file */
.file{
    padding-bottom: 10%;
    
}

form.archivos {
    border-radius: none;
}


  /* responsive logo */
@media (max-width: 600px) {
    .navbar-brand {
      width:50%;
    }
    .formulario{
        padding: 5px;
    }
    .container{
        width: 100%;
    }
  }



/* .m-top {
    margin-top: 30px;
} */

/* .card-header {
    background: url('../../assets/images/bg-head-02.jpg');
    background: #1F2547;
    height: 100px;
}
.card {
    opacity: 0.9;
}

.top {
    margin-top: 30px;
}

#titulo-formulario {
    color: #1F2547;
    margin-top: 15px;
}

.form-control {
    display: block;
}

.campo-texto {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #1F2547;
    margin-bottom: 30px;
}

#enviar {
    margin-right: 5px;
}

#cancelar {
    margin-left: 5px;
} */