
<div class="container">
    <form autocomplete="off" class="formulario" [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
  <!-- <form class="formulario" action="POST" name="form_register" enctype="multipart/form-data"> -->
    <!-- inputs form -->
    <div>
      <div class="text-center title">
        <h4>REGISTRO DE EMPLEADO</h4>
      </div>
      <br>
      <!-- <div class="text-center img">
        <img src="https://www.tramvenegroup.com/clientes/images/user.png" width="12%" alt="">
      </div> -->
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="Usuario">Usuario</label>
          <input type="text" class="form-control" formControlName="usuario">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6" [ngClass]="{'has-error': empleadoForm.get('primerNombre').errors && (empleadoForm.get('primerNombre').touched || empleadoForm.get('primerNombre').dirty)}">
          <label for="inputNombre1">Primer Nombre</label>
          <input type="text" class="form-control" id="inputNombre1" formControlName="primerNombre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputnombre2">Segundo Nombre</label>
          <input type="text" class="form-control" id="inputNombre2" formControlName="segundoNombre">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputApellido1">Primer Apellido</label>
          <input type="text" class="form-control" id="inputApellido1" formControlName="primerApellido">
        </div>
        <div class="form-group col-md-6">
          <label for="inputApellido2">Segundo Apellido</label>
          <input type="text" class="form-control" id="inputApellido2" formControlName="segundoApellido">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputDoc">Tipo de Documento</label>
          <select id="inputDoc" class="form-control" formControlName="tipoDocumento">
              <option value="Cédula">Cédula</option>
              <option value="Cédula de extranjería">Cédula de extranjería</option>
              <option value="Pasaporte">Pasaporte</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputNumd">Numero de Documento</label>
          <input type="text" class="form-control" id="inputNumd" formControlName="numeroDocumento">
        </div>
        <div class="form-group col-md-4">
          <label for="inputExp">Lugar de Expedición</label>
          <input type="text" class="form-control" id="inputExp" formControlName="lugarExpedicion">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputAdress">Dirección</label>
          <input type="text" class="form-control" id="inputAdress" formControlName="direccion">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPhone">Celular</label>
          <input type="text" class="form-control" id="inputPhone" formControlName="celular">
        </div>
        <div class="form-group col-md-4">
          <label for="inputExt">Extensión</label>
          <input type="text" class="form-control" id="inputExt" formControlName="extension">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 form-group">
          <label for="Contacto de emergencia">Contacto de emergencia</label>
          <input type="text" class="form-control"  formControlName="contactoEmergencia">
        </div>
        <div class="col-md-6 form-group">
          <label for="Contacto de emergencia">Número del contacto</label>
          <input type="text" class="form-control"  formControlName="numeroContactoEmergencia">
        </div>
      </div>
    </div>
    <hr>
    <!-- Form2 -->
    <div class="formulario">
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="inputnombre2" placeholder="Sede" formControlName="sede">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="inputuser" placeholder="Jefe" formControlName="jefe">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="inputnombre1" placeholder="Area" formControlName="area">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="inputuser" placeholder="Cargo" formControlName="cargo">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="inputnombre1" placeholder="Salario" formControlName="salario">
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="inputnombre2" placeholder="Salario en Letras" formControlName="salarioTexto">
        </div>
      </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <select type="text" class="form-control" placeholder="Tipo de contrato" formControlName="tipoContrato">
              <option value="" selected>Tipo de contrato</option>
              <option value="Integral">Integral</option>
              <option value="Ordinario">Ordinario</option>
              <option value="Aprendiz Sena">Aprendiz Sena</option>
              <option value="Practicante universitario">Practicante universitario</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <select class="form-control" formControlName="terminoContrato">
              <option value=""selected>Término del contrato</option>
              <option value="Indefinido">Indefinido</option>
              <option value="Fijo">Fijo</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <input type="text" class="form-control" placeholder="fecha de ingreso" formControlName="fechaIngreso" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
          </div>
        </div>
        
        <ng-container *ngIf="empleadoForm.get('terminoContrato').value === 'Fijo'">
          <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" class="form-control" placeholder="fecha de salida" formControlName="fechaSalida" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
          </div>
        </div>
        </ng-container>
        
        <ng-container *ngIf="empleadoForm.get('tipoContrato').value == 'Integral'">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Bono" formControlName="bono">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="AFP" formControlName="afp">
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="empleadoForm.get('tipoContrato').value == 'Practicante universitario'">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Universidad" formControlName="universidad">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Carrera" formControlName="carrera">
            </div>
          </div>
        </ng-container>
        
    </div>
    <!-- Documentos Adjuntos -->
    <div class="formulario">
      <div class="text-center">
        <h5>ADJUNTAR ARCHIVOS</h5>
        <hr>
      </div>
      <div class="row text-center form-group">
        <div class="col-md-4">
          <label for="Hoja de vida">Hoja de vida</label>
          <input type="file" name="adjuntoHV" class="form-control" (change)="adjuntarHojaDeVida($event)">
        </div>
        <div class="col-md-4">
          <label for="Hoja de vida">Certificados</label>
          <input type="file" name="adjuntoCertificados" class="form-control" (change)="adjuntarCertificados($event)">
        </div>
        <div class="col-md-4">
          <label for="Hoja de vida">Diplomas</label>
          <input type="file" name="adjuntoDiplomas" class="form-control" (change)="adjuntarDiplomas($event)">
        </div>
        </div>
      </div>
      <br>
      <br>
      <!-- Footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-lg">Guardar</button>
        <button type="button" class="btn btn-danger btn-lg">Cancelar</button>
      </div>
  </form>
</div>


<!-- <form autocomplete="off" [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
<div class="col-md-8 offset-md-2 text-center m-top">
  <div class="card">
    <div class="card-header">
        <h2 id="titulo-formulario">Crear registro de empleado</h2>
    </div>
    <div class="card-body">
      <div class="row top">
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="usuario" placeholder="Usuario">
        </div>
        <div class="col-md-4" [ngClass]="{'has-error' : empleadoForm.get('primerNombre').errors && (empleadoForm.get('primerNombre').touched || empleadoForm.get('primerNombre').dirty)}">
          <input type="text" class="form-control campo-texto" formControlName="primerNombre" placeholder="Primer nombre">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="segundoNombre" placeholder="Segundo nombre">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="primerApellido" placeholder="Primer apellido">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="segundoApellido" placeholder="Segundo apellido">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="numeroDocumento" placeholder="Documento">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <select class="form-control campo-texto" formControlName="tipoDocumento">
            <option value="">Tipo de documento</option>
            <option value="Cédula">Cédula</option>
            <option value="Cédula de extranjería">Cédula de extranjería</option>
            <option value="Pasaporte">Pasaporte</option>
          </select>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="lugarExpedicion" placeholder="Lugar de expedición">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="fechaIngreso" placeholder="Fecha de ingreso">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="cargo" placeholder="Cargo">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="salario" placeholder="Salario">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="salarioTexto" placeholder="Salario en letras">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="area" placeholder="Area">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="jefe" placeholder="Jefe">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="direccion" placeholder="Dirección">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="celular" placeholder="Celular">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="sede" placeholder="Sede">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control campo-texto" formControlName="extension" placeholder="Extensión">
        </div> 
      </div>
      <div class="row">
        <div class="col-md-4 text-left">
          <label for="hoja de vida">Hoja de vida</label>
          <input type="file" class="form-control campo-texto" placeholder="Hoja de vida">
        </div>
        <div class="col-md-4 text-left">
          <label for="Certificados">Certificados</label>
          <input type="file" class="form-control campo-texto" placeholder="Certificados">
        </div>
        <div class="col-md-4 text-left">
          <label for="Diplomas">Diplomas</label>
          <input type="file" class="form-control campo-texto" placeholder="Diplomas">
        </div>
      </div>
      <button type="submit" class="btn btn-success" id="enviar">Guardar registro</button>
      <button type="button" class="btn btn-danger" id="cancelar">Cancelar</button>
    </div>
  </div>
</div>
</form> -->