<div class="col-md-8 offset-md-2 text-center m-top">
    <div class="card">
      <div class="card-header">
          <h2 id="titulo-formulario">Editar registro de empleado</h2>
      </div>
      <div class="card-body">
        <div class="row top">
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Primer nombre">
          </div>
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Segundo nombre">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Primer apellido">
          </div>
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Segundo apellido">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Documento">
          </div>
          <div class="col-md-4 offset-md-1">
            <select class="form-control campo-texto">
              <option value="">Tipo de documento</option>
              <option value="Cédula">Cédula</option>
              <option value="Cédula de extranjería">Cédula de extranjería</option>
              <option value="Pasaporte">Pasaporte</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Cargo">
          </div>
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Area">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Salario">
          </div>
          <div class="col-md-4 offset-md-1">
            <input type="text" class="form-control campo-texto" placeholder="Salario en letras">
          </div>
        </div>
      </div>
    </div>
  </div>