
.card {
    margin-top:180px;
    border-radius: 12px;
    opacity: 0.9;
}

.inicial {
    margin-top: 10px;
    margin-bottom: 20px;
}

.final {
    margin-bottom: 10px;
}



/* .container {
    background: url('../assets/images/Fondo.png');
    width: 100%;
    height: 100%;
}

#crear-registro {
    display: none;
}

.inicio {
    background: #0069D9;
}

.btn {
    border: #0069D9
} */


