<!--The content below is only a placeholder and can be replaced.-->
<html>

<header>
    <div class="zona-usuario-logueado">
        <div class="usuario text-right">
            <span class="text-bienvenida">Bienvenido <b>{{nombreUsuario}}</b></span>
        </div>
    </div>
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <div class="card inicio">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-block inicial" (click)="navegar">
                            <a routerLink ="/crear-registro" routerLinkActive="active"><h4>Crear perfil de empleado</h4></a>
                        </button>
                        <button type="button" class="btn btn-primary btn-block final" (click)="expression">
                            <h4>Editar perfil de empleado</h4>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>

</html>





