
.card {
    margin-top:180px;
    border-radius: 12px;
    /* opacity: 0.8; */
}

header {
    background: url('../assets/images/header.png');
    width: 100%;
    height: 100px;
}

.inicial {
    margin-top: 10px;
    margin-bottom: 20px;
}

.final {
    margin-bottom: 10px;
}

.zona-usuario-logueado{
    float: right;
    margin-top: 40px;
}

.usuario-logueado{
    font-size: 20px;
}

.text-bienvenida {
    text-align: end;
    margin-right: 30px;
    padding-top: 30px;
    color: #1F2547;
    font-weight: 400;
    font-size: 22px;
 }


/* .container {
    background: url('../assets/images/Fondo.png');
    width: 100%;
    height: 100%;
}

#crear-registro {
    display: none;
}

.inicio {
    background: #0069D9;
}

.btn {
    border: #0069D9
} */


