<!--The content below is only a placeholder and can be replaced.-->
<html>

<head class="header"></head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <div class="card inicio">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-block inicial" (click)="expression">
                            <h4>Crear perfil de empleado</h4>
                        </button>
                        <button type="button" class="btn btn-primary btn-block final" (click)="expression">
                            <h4>Editar perfil de empleado</h4>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-crear-registro></app-crear-registro> -->
    <!-- <app-editar-registro></app-editar-registro> -->
</body>

</html>



<!-- <app-vista-inicio></app-vista-inicio>

<app-editar-registro></app-editar-registro> -->


