<!--The content below is only a placeholder and can be replaced.-->
<html>

<header>
    <div class="zona-usuario-logueado">
        <div class="usuario text-right">
            <span class="text-bienvenida">Bienvenido </span>
        </div>
    </div>
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <div class="card inicio">
                    <div class="card-body">
                        <ng-container *ngIf="PermisosCrearRegistro" >
                        <a routerLink="/crear-registro" routerLinkActive="active"><button type="button"
                                class="btn btn-primary btn-block inicial" (click)="navegar">
                                <h4>Crear perfil de empleado</h4>
                            </button></a>
                        </ng-container>
                        <ng-container *ngIf="PermisosCrearRegistro">
                        <a routerLink="/editar-registro" routerLinkActive="active"><button type="button"
                                class="btn btn-primary btn-block final" (click)="expression">
                                <h4>Editar perfil de empleado</h4>
                            </button></a>
                        </ng-container>
                        <ng-container *ngIf="!PermisosCrearRegistro" >
                        <a routerLink="/editar-vista-usuario" routerLinkActive="active"><button type="button"
                                class="btn btn-primary btn-block final" (click)="expression">
                                <h4>Editar info de empleado</h4>
                            </button></a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>

</html>





