<ng-container *ngIf="!PermisosCrearRegistro">
    <div class="container">
      <form autocomplete="off" class="formulario" [formGroup]="editarEmpleadoFormUsuario" (ngSubmit)="onSubmit()">
         <div class="text-center title">
           <h4>Editar registro de empleado</h4>
         </div>
         <br>
         <hr>
         <br>
         <div class="row">
           <div class="col-md-6 form-group">
             <label for="Primer Nombre">Primer Nombre</label>
             <input type="text" class="form-control" formControlName="primerNombreUsuario" readonly>
           </div>
           <div class="col-md-6 form-group">
             <label for="Segundo Nombre">Segundo Nombre</label>
             <input type="text" class="form-control" formControlName="segundoNombreUsuario"
               readonly>
           </div>
         </div>
         <div class="row">
           <div class="col-md-6 form-group">
             <label for="Primer apellido">Primer apellido</label>
             <input type="text" class="form-control" formControlName="primerApellidoUsuario" value="empleado.primerApellido" readonly>
           </div>
           <div class="col-md-6 form-group">
             <label for="Segundo apellido">Segundo apellido</label>
             <input type="text" class="form-control" formControlName="segundoApellidoUsuario" value="empleado.segundoApellido" readonly>
           </div>
         </div>
         <div class="row">
           <div class="col-md-6 form-group">
             <label for="Dirección">Dirección</label>
             <input type="text" class="form-control" formControlName="direccionUsuario">
           </div>
           <div class="col-md-6 form-group">
             <label for="Celular">Celular</label>
             <input type="text" class="form-control" formControlName="celularUsuario">
           </div>
         </div>
         <div class="row">
           <div class="col-md-6 form-group">
             <label for="Contacto de emergencia">Contacto de emergencia</label>
             <input type="text" class="form-control" formControlName="contactoEmergenciaUsuario">
           </div>
           <div class="col-md-6 form-group">
             <label for="Numero de contacto de emergencia">Numero de contacto de emergencia</label>
             <input type="text" class="form-control" formControlName="telefonoContactoUsuario">
           </div>
         </div>
         <div class="row">
           <div class="col-md-6 form-group">
             <label for="Hoja de vida">Hoja de vida</label>
             <input type="file" name="adjuntoHV" class="form-control" (change)="adjuntarHojaDeVida($event)">
           </div>
           <div class="col-md-6">
             <label for="Hoja de vida">Certificados</label>
             <input type="file" name="adjuntoCertificados" class="form-control" (change)="adjuntarCertificados($event)">
           </div>
         </div>
         <div class="row">
           <div class="col-md-6">
             <label for="Hoja de vida">Diplomas</label>
             <input type="file" name="adjuntoDiplomas" class="form-control" (change)="adjuntarDiplomas($event)">
           </div>
           <div class="col-md-6">
             <label for="Hoja de vida corporativa">Hoja de vida corporativa</label>
             <input type="file" name="adjuntoHVcorporativa" class="form-control" (change)="adjuntarHVcorporativa($event)">
           </div>
         </div>
         <br>
         <form action="">
            <accordion>
              <accordion-group heading="Ver archivos">
                <table mat-table [dataSource]="dataSource">
    
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre del documento</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef>Tipo de documento</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="ver">
                    <th mat-header-cell *matHeaderCellDef>Ver</th>
                    <td mat-cell *matCellDef="let element"><a
                        href="{{'https://aribasas.sharepoint.com' + element.rutaArchivo}}" target="_blank"><button
                          type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a></td>
                  </ng-container>
    
                  <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                    <td mat-cell *matCellDef="let element"><button type="button" class="btn btn-danger"
                        (click)="eliminarArchivos(element)"><i class="fas fa-trash-alt"></i></button></td>
                  </ng-container>
    
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </accordion-group>
            </accordion>
          </form>
         <div class="modal-footer">
           <button type="submit" class="btn btn-success btn-lg">Guardar</button>
           <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()">Cancelar</button>
         </div>
      </form>
    </div>
   </ng-container>

   
